In [11]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

In [12]:
import sklearn

In [13]:
df = pd.read_csv('./case2.csv')

In [14]:
df.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [15]:
df.shape

(15, 2)

In [16]:
df.isnull().sum()

YearsExperience    0
Salary             0
dtype: int64

In [19]:
X = df.iloc[: , 0]
y = df.iloc[: , 1]

### Case study 1

In [17]:
from sklearn.linear_model import LinearRegression

In [18]:
reg = LinearRegression()

In [26]:
X = X.values.reshape(-1,1)

In [27]:
reg.fit(X,y)

LinearRegression()

In [28]:
reg.score(X,y)

0.7020755183418668

In [30]:
y_pred = reg.predict(X)

In [31]:
a = pd.DataFrame({'Actual':y , 'Predict':y_pred})

In [32]:
a

     Actual       Predict
0   39343.0  40076.328432
1   46205.0  41447.019347
2   37731.0  42817.710262
3   43525.0  46244.437548
4   39891.0  47615.128463
5   56642.0  52412.546665
6   60150.0  53097.892122
7   54445.0  54468.583037
8   64445.0  54468.583037
9   57189.0  57895.310323
10  63218.0  59266.001238
11  55794.0  59951.346696
12  56957.0  59951.346696
13  57081.0  60636.692153
14  61111.0  63378.073982

In [33]:
from sklearn.metrics import adjusted_rand_score,r2_score

In [34]:
r2_score(y,y_pred)

0.7020755183418668

In [36]:
import warnings
warnings.filterwarnings('ignore')

In [37]:
adjusted_rand_score(y,y_pred)  # this is not adjusted r2 package we can got with direct formula

0.0

In [38]:
1 - (1 - reg.score(X , y)) * (len(df) - 1) / (len(df) - df.shape[1] - 1)

0.6524214380655111

### Case study 2

In [49]:
da = pd.read_csv('./case.csv')

In [50]:
da.head()

   YearsExperience   Salary  Height
0              1.1  39343.0    1.47
1              1.3  46205.0    1.50
2              1.5  37731.0    1.52
3              2.0  43525.0    1.55
4              2.2  39891.0    1.57

In [51]:
da.shape

(15, 3)

In [52]:
da.isnull().sum()

YearsExperience    0
Salary             0
Height             0
dtype: int64

In [54]:
X = da[['YearsExperience','Height']]
y = da['Salary']

In [55]:
X

    YearsExperience  Height
0               1.1    1.47
1               1.3    1.50
2               1.5    1.52
3               2.0    1.55
4               2.2    1.57
5               2.9    1.60
6               3.0    1.63
7               3.2    1.65
8               3.2    1.68
9               3.7    1.70
10              3.9    1.73
11              4.0    1.75
12              4.0    1.78
13              4.1    1.80
14              4.5    1.83

In [56]:
y

0     39343.0
1     46205.0
2     37731.0
3     43525.0
4     39891.0
5     56642.0
6     60150.0
7     54445.0
8     64445.0
9     57189.0
10    63218.0
11    55794.0
12    56957.0
13    57081.0
14    61111.0
Name: Salary, dtype: float64

In [57]:
from sklearn.linear_model import LinearRegression

In [58]:
reg = LinearRegression()

In [59]:
reg.fit(X,y)

LinearRegression()

In [60]:
reg.score(X,y)

0.7388592596500806

In [61]:
y_pred = reg.predict(X)

In [62]:
b = pd.DataFrame({'Actual':y , 'Predict':y_pred})

In [63]:
b

     Actual       Predict
0   39343.0  39424.729262
1   46205.0  40038.252324
2   37731.0  41423.576522
3   43525.0  46430.489285
4   39891.0  47815.813482
5   56642.0  55751.652712
6   60150.0  54900.712541
7   54445.0  56286.036738
8   64445.0  53970.633334
9   57189.0  59749.347231
10  63218.0  60362.870294
11  55794.0  60283.731258
12  56957.0  57968.327854
13  57081.0  57889.188818
14  61111.0  61431.638347

In [64]:
from sklearn.metrics import adjusted_rand_score,r2_score

In [65]:
r2_score(y,y_pred)

0.7388592596500806

In [66]:
adjusted_rand_score(y,y_pred)  # this is not adjusted r2 package we can got with direct formula

1.0

In [67]:
1 - (1 - reg.score(X , y)) * (len(df) - 1) / (len(df) - df.shape[1] - 1)

0.6676390577364661